.btn {
    border-radius: 30px;
    padding: 16px 44px;
    text-decoration: none;
    transition: 300ms;
}

.btn-pink {
    background-color: #FF206E;
    color: #0C0F0A;

    &:hover {
        background-color: #FBFF12;
    }
}

.btn-yellow {
    background-color: #FBFF12;
    color: #0C0F0A;
}

.btn-yellow-ghost {
    border: 2px solid #FBFF12;
    color: #FBFF12;

    &:hover {
        background-color: #FBFF12;
        color: #0C0F0A;
    }
}