/***** BREAKPOINTS *****/
/* 480px, 768px, 1024px, and 1280px */
/* index.php: tablet-834px*1194 => 810px; 1400px (nav); 1800 (artistas); 600px; 1200px

Mobile: 360px x 640 px

/* 280, 40, 100 */

/***** FONTES *****/
@font-face {
    font-family: Lekton;
    src: url('../fonts/Lekton/Lekton-Regular.ttf');
}
@font-face {
    font-family: Lekton;
    font-weight: bold;
    src: url('../fonts/Lekton/Lekton-Bold.ttf');
}
@font-face {
    font-family: Koulen;
    src: url('../fonts/Koulen/Koulen-Regular.ttf');
}
@font-face {
    font-family: Inter;
    src: url('../fonts/Inter/Inter-Regular.ttf');
}

/***** RESETS *****/
body {
    padding: 0;
    margin: 0;
    font-family: Lekton, serif;
    font-size: 20px;
    overflow-x: hidden;

    @media screen and (min-width: 1200px) {
        font-size: 24px;
    }
}

a {
    text-decoration: none;
    cursor: pointer;
}

/***** BOTÕES *****/
button, .btn {
    border-radius: 30px;
    padding: 10px 30px;
    text-decoration: none;
    transition: all 300ms ease-in-out;
    display: inline-block;
    font-weight: bold;
    font-size: 1rem;
    box-sizing: border-box;
    font-family: Lekton, serif;

    @media screen and (min-width: 360px) {
        font-size: 1.4rem;
    }

    @media screen and (min-width: 1200px) {
        padding: 14px 44px;
    }
}

.btn-pink {
    background-color: #FF206E;
    border: 2px solid #FF206E;
    color: #0C0F0A;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    &:hover {
        background-color: #FBFF12;
        border: 2px solid #FBFF12;
    }
}

.btn-yellow {
    background-color: #FBFF12;
    border: 2px solid #FBFF12;
    color: #0C0F0A;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    &:hover {
        background-color: transparent;
        color: #FBFF12;
        box-shadow: none;
    }
}

.btn-yellow-ghost {
    border: 2px solid #FBFF12;
    color: #FBFF12;
    box-shadow: none;
    background-color: none;

    &:hover {
        background-color: #FBFF12;
        color: #0C0F0A;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
}

section:not(.artistas-pagina) .btn {
    margin: 4rem auto 0;

    @media screen and (min-width: 650px) {
        margin: 5rem auto 0;
    }

    @media screen and (min-width: 1200px) {
        margin: 6rem auto 0;
    }
}

/***** CORES *****/
.bg-night {
    background-color: #0C0F0A;
}

.bg-pink {
    background-color: #FF206E;
}

.bg-black {
    background-color: #000;
}

.bg-white {
    background-color: #FFFFFF;
}

.night {
    color: #0C0F0A;
}

.pink {
    color: #FF206E;
}

.black {
    color: #000;
}

.white {
    color: #FFFFFF;
}

/***** LAYOUT *****/
.flex {
    display: flex;
}

.flex-between {
    justify-content: space-between;
}

.flex-center {
    justify-content: center;
}

.margin-auto {
    display: inline-block;
    margin: 0 auto;
}

section, .section {
    /* padding: 2.5rem 0 3.5rem; */
    padding: 2rem 0 5.5rem;

    @media screen and (min-width: 650px) {
        padding: 2rem 4vw 6rem;
    }

    @media screen and (min-width: 1200px) {
        padding: 6rem 13vw 10rem;
    }
}

.section-header {
    padding: 2rem 0 0;

    @media screen and (min-width: 650px) {
        padding: 2rem 4vw 0;
    }

    @media screen and (min-width: 1200px) {
        padding: 0 13vw;
    }
}

section h2 {
    @media screen and (min-width: 650px) and (max-width: 999px) {
        padding: 0 8.5vw;
    }
}

.container {
    padding: 0 1.6rem;
}

/***** TEXTO *****/
h1, .h1 {
    color: #FBFF12;
    font-family: Koulen, sans-serif;
    font-size: 4rem;
    line-height: 6rem;
    margin: 0;

    @media screen and (min-width: 650px) {
        font-size: 2.7rem;
    }

    @media screen and (min-width: 1200px) {
        font-size: 4rem;
    }
}

h2, .h2 {
    color: #FBFF12;
    font-family: Koulen, sans-serif;
    font-size: 1.75rem;

    @media screen and (min-width: 650px) {
        font-size: 2.7rem;
    }

    @media screen and (min-width: 1200px) {
        font-size: 3rem;
    }
}

h3, .h3 {
    color: #0C0F0A;
    font-size: 1.5rem;
    line-height: normal;
    font-weight: bold;
    margin: 1.2rem 0;

    @media screen and (min-width: 600px) {
        line-height: 2.5rem;
        margin: 1.5rem 0;
    }
}

.text-decoration {
    text-decoration:underline;
}

a {
    text-decoration: none;
    color: black;
}
/***** NAV *****/
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: linear-gradient(#0C0F0A, transparent);
}

nav > .nav-section {
    position: relative;
    padding: 0.4rem 0;

    @media screen and (min-width: 600px) {
        padding: 0 5vw;
    }
}

nav .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;

    @media screen and (min-width: 800px) {
        padding: 1rem 1.5rem;
    }
}

nav .logo {
    width: 7.1rem;
    color: #FF206E;

    @media screen and (min-width: 600px) {
        width: 16rem;
    }
}

nav ul {
    display: none;

    @media screen and (min-width: 1350px) {
        display: flex;
        list-style: none;
        padding: 0;
        gap: 5vw;
    }
}

nav li {
    display: flex;
    align-items: center;
}

nav li a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    transition: color 300ms ease-in-out;
    &:hover:not(.btn) {
        color: #FBFF12;
    }
}

nav li a.active {
    text-decoration: underline;
}

/***** HEADERS *****/
header.full {
    display: flex;
    align-items: end;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url("../img/headers/music-festival-1716625_1920.jpg");
    background-position: 50% 50%;
    background-size: cover;
    z-index: 1;
}

header.full .overlay {
    height: 85vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top, #0C0F0A, transparent);
    z-index: -100;
}

header.full > .main {
    padding: 2rem 0 16vh;

    @media screen and (min-width: 650px) {
        padding: 2rem 3rem 14vh 11.5vw;
    }

    @media screen and (min-width: 924px) {
        padding: 2rem 3rem 15vh 12.5vw;
    }

    @media screen and (min-width: 1200px) {
        padding: 6rem 13vw 16vh;
    }
}

header.full .main-text {
    max-width: 90%;

    @media screen and (min-width: 1048px) {
        max-width: 80%;
    }

    @media screen and (min-width: 1200px) {
        max-width: 800px;
    }
}

header.full .main-date {
    color: #FBFF12;
    font-weight: bold;
    font-size: 2rem;

    @media screen and (min-width: 650px) {
        font-size: 3rem;
    }

    @media screen and (min-width: 834px) {
        font-size: 4rem;
    }

    @media screen and (min-width: 1200px) {
        font-size: 4.5rem;
        line-height: 7rem;
    }
    
    /* display: flex;
    flex-direction: column;
    justify-content: end; */
}

header.full .main-slogan {
    color: #FBFF12;
    font-weight: bold;
    font-size: 1.7rem;
    line-height: normal;

    @media screen and (min-width: 650px) {
        font-size: 2.5rem;
    }

    @media screen and (min-width: 834px) {
        font-size: 3rem;
        width: 90%;
    }
    
    @media screen and (min-width: 1200px) {
        font-size: 3.9rem;
    }
}

header.full .main-btn {
    display: flex;
    justify-content: center;
    padding: 2.5rem 0 0;

    @media screen and (min-width: 650px) {
        justify-content: start;
        padding: 4rem 0 0;
    }

    @media screen and (min-width: 1200px) {
        padding: 3rem 0 0;
    }
}

header.half {
    height: 51vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

header.half-artistas {
    background-image: url('../img/headers/equalizer-4464339_1920.jpg');
    background-position: 50% 61%;
}

/***** CARTAS NOTICIAS *****/
.noticias .cards {
    overflow-x: hidden;

    @media screen and (min-width: 650px) {
        margin-left: calc(-1.6rem - 4vw);
        overflow-x: scroll;
        width: 100vw;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 0;
        overflow-x: hidden;
        width: auto;
    }
}

.noticias .cards-inner {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;

    @media screen and (min-width: 650px) {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.1rem;
        width: 128vw;
        margin-left: -14vw;
    }

    @media screen and (min-width: 1200px) {
        grid-template-columns: 1fr 1fr;
        gap: 2.5rem;
        width: auto;
        margin-left: 0;
    }

    @media screen and (min-width: 1500px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.noticias-pagina .cards-inner {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;

    @media screen and (min-width: 630px) {
        grid-template-columns: 1fr 1fr;
        gap: 3rem 1.1rem;
    }

    @media screen and (min-width: 834px) {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 6.5vw 1.1rem;
    }

    @media screen and (min-width: 1200px) {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 6.5vw 2.5rem;
    }
}

.card-noticia {
    display: block;
    padding: 10px 10px 0 10px;
    position: relative;

    &:hover {
        .card-noticia-img > img {
            transform: scale(1.3);
        }
    }
}

.card-noticia h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.noticia-titulo {
    @media screen and (min-width: 630px) {
        font-size: 1.2rem;
        line-height: 1.1rem;
        margin: 1.1rem 0;
    }

    @media screen and (min-width: 1400px) {
        font-size: 1.5rem;
        line-height: 2.5rem;
        margin: 1.5rem 0;
    }
}

.card-noticia-img {
    position: relative;
    object-fit: cover;
    overflow: hidden;
}

.card-noticia-img::after {
    content: "";
    display: block;
    padding-bottom: 89%;
}

.card-noticia-img > img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    transition: all 300ms ease-in-out;
}

/* .card-noticia img {
    height: 20vw;
    width: 100%;
    object-fit: cover;
    vertical-align: bottom;
} */

/***** CARTAS ARTISTAS *****/
.artistas-pagina .buttons-outer {
    display: flex;
    justify-content: center;
    padding: 4rem 0 7rem;
}

.artistas-pagina .buttons-inner {
    display: inline-flex;
    gap: 1rem;
}

.artistas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* grid-template-columns: 1fr; */
    gap: 2rem;
    /* padding-left: 15vw;
    padding-right: 15vw; */

    @media screen and (min-width: 650px) {
        gap: 2rem 1rem;
    }

    @media screen and (min-width: 1000px) {
        justify-content: end;
    }

    @media screen and (min-width: 1200px) {
        gap: 5.5rem 2rem;
    }

    /* @media screen and (min-width: 970px) {
        grid-template-columns: 1fr 1fr;
        
    }

    @media screen and (min-width: 1200px) {
        grid-template-columns: 1fr 1fr;
        
    }

    @media screen and (min-width: 1220px) {
        padding-left: 10rem;
        padding-right: 0;
    }

    @media screen and (min-width: 1400px) {
        grid-template-columns: 1fr 1fr 1fr;
        padding-left: 0;
    }

    @media screen and (min-width: 1800px) {
        padding-left: 10rem;
    } */
}

.artista {
    position: relative;
    min-width: 200px;
    width: 386px;

    @media screen and (min-width: 700px) and (max-width: 799px) {
        width: 41vw;
    }

    @media screen and (min-width: 800px) and (max-width: 1150px) {
        width: 41vw;
    }

    @media screen and (min-width: 1500px) and (max-width: 1699px) {
        width: 22vw;
    }
}

.round {
    position: relative;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.round::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.round img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.artista-data {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 8%;
    right: 6%;

    @media screen and (min-width: 600px) {
        width: 73px;
        height: 73px;
        top: 9%;
    }
}

.artista-data > .artista-data-dia {
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.2rem;
    padding-top: 0.7rem;
    
    @media screen and (min-width: 600px) {
        font-size: 2.6rem;
        line-height: 1.7rem;
        padding-top: 0.9rem;
    }
}

.artista-nome {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    font-family: Koulen, sans-serif;
    font-size: 1.3rem;
    padding: 0 2rem;
    position: absolute;
    left: 0;
    bottom: 20px;

    @media screen and (min-width: 600px) {
        padding: 0.15rem 2.5rem;
    }
}

/***** PATROCINADORES *****/
.patrocinadores-logos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2vw 3vw;

    @media screen and (min-width: 360px) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    @media screen and (min-width: 870px) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    @media screen and (min-width: 930px) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 1.7vw 2.5vw;
    }

    @media screen and (min-width: 1200px) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    @media screen and (min-width: 1400px) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }  
}

.margin-noticias {
    margin-bottom: 6rem;
}

/***** FOOTER *****/
footer {
    font-family: Inter, sans-serif;
    font-size: 1rem;
    padding: 5.5rem 0 6rem;

    @media screen and (min-width: 500px) {
        font-size: 1.2rem;
    }

    @media screen and (min-width: 650px) {
        font-size: 1.2rem;
        padding: 4rem 4vw;
    }

    @media screen and (min-width: 834px) {
        font-size: 1rem;
    }

    @media screen and (min-width: 1000px) {
        font-size: 1.2rem;
    }

    @media screen and (min-width: 1200px) {
        padding: 8rem 12vw;
    }
}

footer > .container {
    /* width: 100%; */
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 834px) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.footer-social {
    align-items: center;
    gap: 1.5em;
}

.footer-social img {
    width: 38px;

    @media screen and (min-width: 834px) {
        width: 33px;
    }

    @media screen and (min-width: 1400px) {
        width: auto;
    }
}

.footer-links {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 3rem;

    @media screen and (min-width: 834px) {
        align-items: start;
        padding-top: 0;
    }
}

.footer-links a {
    display: flex;
    flex-direction: column;
    justify-content: end;
    line-height: 2.5em;
    color: #FFFFFF;
    transition: color 300ms ease-in-out;

    &:hover {
        color: #FBFF12;
    }

    @media screen and (min-width: 834px) {
        line-height: 2.4em;
    }

    @media screen and (min-width: 1400px) {
        line-height: 2em;
    }
}

/*** CARD NOTICIA ***/
.breadcrumbs {
    list-style: none;
    padding: 10px 16px;
}

.breadcrumb-item {
    display: inline;
    font-size: 18px;
}

.breadcrumb-item a{
    color: white;
    text-decoration: none;
}

.breadcrumb-item a:hover {
    color: yellow;
}

/*** Contactos ***/
.container-contactos {
    display: flex;
    height: 100vh;
    background-color: white;
}

.texto-contactos, .imagem-contactos {
    flex: 1;
    box-sizing: border-box;
    overflow: hidden;
}

.imagem-contactos {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texto-contactos {
    margin: auto;
    padding: 50px;
    font-size: 15px;
}

.icon { 
    margin: 10px;
    padding-top:5px;
}

/**** Bilhetes ***/
.container-bilhetes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.cards-bilhete-1 {
    background-color: white;
    display: block;
    width: 380px;
    height: 700px; 
}

.cards-bilhete-2 {
    background-color: white;
    display: block;
    width: 380px;
    height: 700px; 
}

.preco {
    padding:0;
    margin:0;
    font-size: 45px;
}

.hr{
    width: 70%;
}

/*** Formulário Compra ****/
.form {
    background-color: white;
    padding: 20px;
    margin: 0;
    width: 100%;
}

.nome, .morada {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
}

.email, .telefone {
    width: 50%;
    box-sizing: border-box;
    padding: 8px;
}

.metodo-compra {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.checkbox-label {
    display: flex;
    align-items: center;
}

.checkbox {
    width: 1.5rem;
    height: 1.5rem;
}