/***** BREAKPOINTS *****/
/* 480px, 768px, 1024px, and 1280px */

/* 280, 40, 100 */

/***** FONTES *****/
@font-face {
    font-family: Lekton;
    src: url('../fonts/Lekton/Lekton-Regular.ttf');
}
@font-face {
    font-family: Lekton;
    font-weight: bold;
    src: url('../fonts/Lekton/Lekton-Bold.ttf');
}
@font-face {
    font-family: Koulen;
    src: url('../fonts/Koulen/Koulen-Regular.ttf');
}
@font-face {
    font-family: Inter;
    src: url('../fonts/Inter/Inter-Regular.ttf');
}

/***** RESETS *****/
body {
    padding: 0;
    margin: 0;
    font-family: Lekton, serif;
    font-size: 24px;
}

/***** BOTÕES *****/
.btn {
    border-radius: 30px;
    padding: 16px 44px;
    text-decoration: none;
    transition: all 300ms ease-in-out;
    display: inline-block;
    font-weight: bold;
}

.btn-pink {
    background-color: #FF206E;
    color: #0C0F0A;

    &:hover {
        background-color: #FBFF12;
    }
}

.btn-yellow {
    background-color: #FBFF12;
    color: #0C0F0A;

    &:hover {
        background-color: transparent;
        border: 2px solid #FBFF12;
        color: #FBFF12;
    }
}

.btn-yellow-ghost {
    border: 2px solid #FBFF12;
    color: #FBFF12;

    &:hover {
        background-color: #FBFF12;
        color: #0C0F0A;
    }
}

section .btn {
    margin: 6rem 0;
    justify-self: center;
}

/***** CORES *****/
.bg-night {
    background-color: #0C0F0A;
}

.bg-pink {
    background-color: #FF206E;
}

.bg-black {
    background-color: #000;
}

.bg-white {
    background-color: #FFFFFF;
}

.night {
    color: #0C0F0A;
}

.pink {
    color: #FF206E;
}

.black {
    color: #000;
}

.white {
    color: #FFFFFF;
}

/***** LAYOUT *****/
.flex {
    display: flex;
}

.flex-between {
    justify-content: space-between;
}

.flex-center {
    justify-content: center;
}

section, .section, footer {
  padding: 3rem 12rem;
}

.container {
    padding: 2rem;
}

/***** TEXTO *****/
h2, .h2 {
    color: #FBFF12;
    font-family: Koulen, sans-serif;
    font-size: 3rem;
}

h3, .h3 {
    color: #0C0F0A;
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: bold;
}

/***** NAV *****/
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: linear-gradient(#0C0F0A, transparent);
}

nav > .nav-section {
    position: relative;
    padding: 0 12rem;
}

nav .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 6rem;
}

nav li {
    display: flex;
    align-items: center;
}

nav li a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    &:hover:not(.btn) {
        text-decoration: underline;
    }
}

/***** HEADERS *****/
header.full {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url("../img/headers/music-festival-1716625_1920.jpg");
    z-index: 1;
}

header.full .overlay {
    height: 75vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top, #0C0F0A, transparent);
    z-index: 2;
}

header .main-text {
    width: 50vw;
    z-index: 3;
    position: absolute;
    bottom: 10vh;
}

header .main-date {
    color: #FBFF12;
    font-weight: bold;
    font-size: 4.5rem;
    /* display: flex;
    flex-direction: column;
    justify-content: end; */
}

header .main-slogan {
    color: #FBFF12;
    font-weight: bold;
    font-size: 3.75rem;
    line-height: 3.75rem;
}

header .btn {
    margin: 3rem 0;
}

/***** CARTAS NOTICIAS *****/
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.card-noticia {
    padding: 10px 10px 0 10px;
}

.card-noticia h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-noticia img {
    height: 20vw;
    width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

/***** CARTAS ARTISTAS *****/
.artistas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    padding-left: 10rem;
}

.artista {
    position: relative;
}

.round {
    position: relative;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.round::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.round img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.artista-data {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 73px;
    height: 73px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 30px;
    right: 10px;
}

.artista-nome {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    font-family: Koulen, sans-serif;
    font-size: 1.3rem;
    padding: 0.15rem 2.5rem;
    position: absolute;
    left: 0;
    bottom: 20px;
}

/***** FOOTER *****/
footer {
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
}

footer > .container {
    width: 100%;
}

.footer-social {
    display: flex;
    align-items: center;
    gap: 2em;
}

.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: end;
    line-height: 2em;
}