/***** BREAKPOINTS *****/
/* 480px, 768px, 1024px, and 1280px */
/* index.php: tablet-834px*1194 => 810px; 1400px (nav); 1800 (artistas); 600px; 1200px

Mobile: 360px x 640 px

/* 280, 40, 100 */

/***** FONTES *****/
@font-face {
    font-family: Lekton;
    src: url('../fonts/Lekton/Lekton-Regular.ttf');
}
@font-face {
    font-family: Lekton;
    font-weight: bold;
    src: url('../fonts/Lekton/Lekton-Bold.ttf');
}
@font-face {
    font-family: Koulen;
    src: url('../fonts/Koulen/Koulen-Regular.ttf');
}
@font-face {
    font-family: Inter;
    src: url('../fonts/Inter/Inter-Regular.ttf');
}

/***** RESETS *****/
body {
    padding: 0;
    margin: 0;
    font-family: Lekton, serif;
    font-size: 20px;
    overflow-x: hidden;

    @media screen and (min-width: 1200px) {
        font-size: 24px;
    }
}

a {
    text-decoration: none;
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

/***** BOTÕES *****/
button, .btn {
    border-radius: 30px;
    padding: 8px 28px;
    text-decoration: none;
    transition: all 300ms ease-in-out;
    display: inline-block;
    font-weight: bold;
    font-size: 1rem;
    box-sizing: border-box;
    font-family: Lekton, serif;

    @media screen and (min-width: 360px) {
        font-size: 1.3rem;
    }

    @media screen and (min-width: 1200px) {
        font-size: 1.5rem;
        padding: 12px 42px;
    }
}

.btn-pink {
    background-color: #FF206E;
    border: 2px solid #FF206E;
    color: #0C0F0A;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    &:hover {
        background-color: #FBFF12;
        border: 2px solid #FBFF12;
    }
}

.btn-yellow {
    background-color: #FBFF12;
    border: 2px solid #FBFF12;
    color: #0C0F0A;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    &:hover {
        background-color: transparent;
        color: #FBFF12;
        box-shadow: none;
    }
}

.btn-yellow-ghost {
    border: 2px solid #FBFF12;
    color: #FBFF12;
    box-shadow: none;
    background-color: none;

    &:hover {
        background-color: #FBFF12;
        color: #0C0F0A;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
}

section:not(.cartaz) .btn {
    margin: 64px auto 0;

    @media screen and (min-width: 650px) {
        margin: 80px auto 0;
    }

    @media screen and (min-width: 1200px) {
        margin: 96px auto 0;
    }
}

/***** CORES *****/
.bg-night {
    background-color: #0C0F0A;
}

.bg-pink {
    background-color: #FF206E;
}

.bg-black {
    background-color: #000;
}

.bg-white {
    background-color: #FFFFFF;
}

.night {
    color: #0C0F0A;
}

.pink {
    color: #FF206E;
}

.black {
    color: #000;
}

.white {
    color: #FFFFFF;
}

/***** LAYOUT *****/
.flex {
    display: flex;
}

.flex-between {
    justify-content: space-between;
}

.flex-center {
    justify-content: center;
}

.margin-auto {
    display: inline-block;
    margin: 0 auto;
}

section, .section {
    /* padding: 2.5rem 0 3.5rem; */
    padding: 32px 0 88px;

    @media screen and (min-width: 650px) {
        padding: 32px 4vw 96px;
    }

    @media screen and (min-width: 1200px) {
        padding: 96px 13vw 160px;
    }
}

.half .section-header {
    padding: 0;

    @media screen and (min-width: 460px) {
        padding: 0 11vw;
    }

    @media screen and (min-width: 1400px) {
        padding: 0 13vw;
    }
}

section h2 {
    @media screen and (min-width: 650px) and (max-width: 999px) {
        padding: 0 8.5vw;
    }
}

.container {
    padding: 0 26px;
}

/***** TEXTO *****/
h1, .h1 {
    color: #FBFF12;
    font-family: Koulen, sans-serif;
    font-size: 2rem;
    line-height: 3.3rem;
    font-weight: 400;
    margin: 0;

    @media screen and (min-width: 460px) {
        font-size: 2.7rem;
        line-height: 4.8rem;
    }

    @media screen and (min-width: 1200px) {
        font-size: 4rem;
        line-height: 6rem;
    }
}

h2, .h2 {
    color: #FBFF12;
    font-family: Koulen, sans-serif;
    font-size: 1.75rem;

    @media screen and (min-width: 650px) {
        font-size: 2.7rem;
    }

    @media screen and (min-width: 1200px) {
        font-size: 3rem;
    }
}

h3, .h3 {
    color: #0C0F0A;
    font-size: 1.5rem;
    line-height: normal;
    font-weight: bold;
    margin: 19px 0;

    @media screen and (min-width: 600px) {
        line-height: 2.5rem;
        margin: 24px 0;
    }
}

.text-decoration {
    text-decoration:underline;
}

a {
    text-decoration: none;
    color: black;
}
/***** NAV *****/
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: linear-gradient(#0C0F0A, transparent);
}

nav > .nav-section {
    position: relative;
    padding: 6px 0;

    @media screen and (min-width: 600px) {
        padding: 0 5vw;
    }
}

nav .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;

    @media screen and (min-width: 800px) {
        padding: 16px 24px;
    }
}

nav .logo {
    width: 7.1rem;
    color: #FF206E;

    @media screen and (min-width: 600px) {
        width: 16rem;
    }
}

nav ul {
    display: none;

    @media screen and (min-width: 1350px) {
        display: flex;
        list-style: none;
        padding: 0;
        gap: 5vw;
    }
}

nav li {
    display: flex;
    align-items: center;
}

nav li a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    transition: color 300ms ease-in-out;
    &:hover:not(.btn) {
        color: #FBFF12;
    }
}

nav li a.active {
    text-decoration: underline;
}

/***** HEADERS *****/
header {
    position: relative;
    background-size: cover;
}

header.full {
    display: flex;
    align-items: end;
    height: 100vh;
    min-height: 400px;
    width: 100vw;
    background-image: url("../img/headers/music-festival_1920.jpg");
    background-position: 50% 50%;
    z-index: 1;

    @media screen and (min-width: 450px) {
        min-height: 450px;
    }

    @media screen and (min-width: 1200px) {
        min-height: 600px;
    }
}

header .overlay {
    height: 85%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top, #0C0F0A, transparent);
    z-index: 2;
}

header > .overlay + div {
    z-index: 3;
}

header.full > .main {
    padding: 32px 0 16vh;

    @media screen and (min-width: 650px) {
        padding: 32px 48px 14vh 11.5vw;
    }

    @media screen and (min-width: 924px) {
        padding: 32px 48px 15vh 12.5vw;
    }

    @media screen and (min-width: 1200px) {
        padding: 96px 13vw 16vh;
    }
}

header.full .main-text {
    max-width: 90%;

    @media screen and (min-width: 1048px) {
        max-width: 80%;
    }

    @media screen and (min-width: 1200px) {
        max-width: 800px;
    }
}

header.full .main-date {
    color: #FBFF12;
    font-weight: bold;
    font-size: 2rem;

    @media screen and (min-width: 650px) {
        font-size: 3rem;
    }

    @media screen and (min-width: 834px) {
        font-size: 4rem;
    }

    @media screen and (min-width: 1200px) {
        font-size: 4.5rem;
        line-height: 7rem;
    }
    
    /* display: flex;
    flex-direction: column;
    justify-content: end; */
}

header.full .main-slogan {
    color: #FBFF12;
    font-weight: bold;
    font-size: 1.7rem;
    line-height: normal;

    @media screen and (min-width: 650px) {
        font-size: 2.5rem;
    }

    @media screen and (min-width: 834px) {
        font-size: 3rem;
        width: 90%;
    }
    
    @media screen and (min-width: 1200px) {
        font-size: 3.9rem;
    }
}

header.full .main-btn {
    display: flex;
    justify-content: center;
    padding: 40px 0 0;

    @media screen and (min-width: 460px) {
        justify-content: start;
        padding: 64px 0 0;
    }

    @media screen and (min-width: 1200px) {
        padding: 48px 0 0;
    }
}

header.half {
    height: 48vh;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: end;

    @media screen and (min-width: 460px) {
        height: 42vh;
        min-height: 420px;
    }

    @media screen and (min-width: 1200px) {
        height: 51vh;
        min-height: 420px;
    }
}

header.half-bilhetes {
    background-image: url('../img/headers/pablo-heimplatz.jpg');
    background-position: 50% 95%;
}

header.half-cartaz {
    background-image: url('../img/headers/equalizer_1920.jpg');
    background-position: 50% 61%;
}

header.half-comprar {
    background-image: url('../img/headers/jordon-conner.jpg');
    background-position: 50% 52%;
}

header.half-contactos {
    background-image: url('../img/headers/festival_1920.jpg');
    background-position: 50% 61%;
}

header.half-noticias {
    background-image: url('../img/headers/lightshow1_1920.jpg');
    background-position: 50% 61%;
}

header.half-noticia {
    background-image: url('../img/headers/lightshow2_1920.jpg');
    background-position: 50% 85%;
}

header.half-festival {
    background-image: url('../img/headers/event_1920.jpg');
    background-position: 50% 61%;
}

/***** CARTAS NOTICIAS *****/
.noticias .cards {
    overflow-x: hidden;

    @media screen and (min-width: 650px) {
        margin-left: calc(-26px - 4vw);
        overflow-x: scroll;
        width: 100vw;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 0;
        overflow-x: hidden;
        width: auto;
    }
}

.noticias .cards-inner {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;

    @media screen and (min-width: 650px) {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 18px;
        width: 128vw;
        margin-left: -14vw;
    }

    @media screen and (min-width: 1200px) {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        width: auto;
        margin-left: 0;
    }

    @media screen and (min-width: 1500px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.noticias-pagina .cards-inner {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;

    @media screen and (min-width: 630px) {
        grid-template-columns: 1fr 1fr;
        gap: 48px 18px;
    }

    @media screen and (min-width: 834px) {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 6.5vw 18px;
    }

    @media screen and (min-width: 1200px) {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 6.5vw 40px;
    }
}

.card-noticia {
    display: block;
    padding: 10px 10px 0 10px;
    position: relative;

    &:hover {
        .card-noticia-img > img {
            transform: scale(1.3);
        }
    }
}

.card-noticia h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-noticia-titulo {
    @media screen and (min-width: 630px) {
        font-size: 1.2rem;
        line-height: 1.1rem;
        margin: 18px 0;
    }

    @media screen and (min-width: 1400px) {
        font-size: 1.5rem;
        line-height: 2.5rem;
        margin: 24px 0;
    }
}

.card-noticia-img {
    position: relative;
    object-fit: cover;
    overflow: hidden;
}

.card-noticia-img::after {
    content: "";
    display: block;
    padding-bottom: 89%;
}

.card-noticia-img > img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    transition: all 300ms ease-in-out;
}

/* .card-noticia img {
    height: 20vw;
    width: 100%;
    object-fit: cover;
    vertical-align: bottom;
} */

/***** CARTAS ARTISTAS *****/
.cartaz .cartaz-buttons {
    display: flex;
    justify-content: center;
    gap: 11px;
    padding: 40px 0 48px;

    @media screen and (min-width: 650px) {
        gap: 16px;
        padding: 48px 0;
    }

    @media screen and (min-width: 1000px) {
        padding: 64px 0;
    }

    @media screen and (min-width: 1200px) {
        padding: 64px 0 112px;
    }
}

.cartaz-buttons .btn {
    @media screen and (max-width: 460px) {
        padding: 6px 14px;
    }
}

.artistas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* grid-template-columns: 1fr; */
    gap: 32px;
    /* padding-left: 15vw;
    padding-right: 15vw; */

    @media screen and (min-width: 650px) {
        gap: 32px 16px;
    }

    @media screen and (min-width: 1000px) {
        justify-content: end;
    }

    @media screen and (min-width: 1200px) {
        gap: 88px 32px;
    }

    /* @media screen and (min-width: 970px) {
        grid-template-columns: 1fr 1fr;
        
    }

    @media screen and (min-width: 1200px) {
        grid-template-columns: 1fr 1fr;
        
    }

    @media screen and (min-width: 1220px) {
        padding-left: 10rem;
        padding-right: 0;
    }

    @media screen and (min-width: 1400px) {
        grid-template-columns: 1fr 1fr 1fr;
        padding-left: 0;
    }

    @media screen and (min-width: 1800px) {
        padding-left: 10rem;
    } */
}

.artista {
    position: relative;
    min-width: 200px;
    width: 386px;

    @media screen and (min-width: 700px) and (max-width: 799px) {
        width: 41vw;
    }

    @media screen and (min-width: 800px) and (max-width: 1150px) {
        width: 41vw;
    }

    @media screen and (min-width: 1500px) and (max-width: 1699px) {
        width: 22vw;
    }
}

.round {
    position: relative;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.round::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.round img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.artista-data {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 8%;
    right: 6%;

    @media screen and (min-width: 600px) {
        width: 73px;
        height: 73px;
        top: 9%;
    }
}

.artista-data > .artista-data-dia {
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.2rem;
    padding-top: 11px;
    
    @media screen and (min-width: 600px) {
        font-size: 2.6rem;
        line-height: 1.7rem;
        padding-top: 14px;
    }
}

.artista-nome {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    font-family: Koulen, sans-serif;
    font-size: 1.3rem;
    padding: 0 32px;
    position: absolute;
    left: 0;
    bottom: 20px;

    @media screen and (min-width: 600px) {
        padding: 2.4px 40px;
    }
}

/***** PATROCINADORES *****/
.patrocinadores-logos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2vw 3vw;

    @media screen and (min-width: 360px) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    @media screen and (min-width: 870px) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    @media screen and (min-width: 930px) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 1.7vw 2.5vw;
    }

    @media screen and (min-width: 1200px) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    @media screen and (min-width: 1400px) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }  
}

.margin-noticias {
    margin-bottom: 96px;
}

/***** FOOTER *****/
footer {
    font-family: Inter, sans-serif;
    font-size: 1rem;
    padding: 88px 0 96px;

    @media screen and (min-width: 500px) {
        font-size: 1.2rem;
    }

    @media screen and (min-width: 650px) {
        font-size: 1.2rem;
        padding: 64px 4vw;
    }

    @media screen and (min-width: 834px) {
        font-size: 1rem;
    }

    @media screen and (min-width: 1000px) {
        font-size: 1.2rem;
    }

    @media screen and (min-width: 1200px) {
        padding: 128px 12vw;
    }
}

footer > .container {
    /* width: 100%; */
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 834px) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.footer-social {
    align-items: center;
    gap: 1.5em;
}

.footer-social img {
    filter: invert(99%) sepia(8%) saturate(48%) hue-rotate(318deg) brightness(115%) contrast(100%);
    transition: all 300ms ease-in-out;
    width: 38px;

    @media screen and (min-width: 834px) {
        width: 33px;
    }

    @media screen and (min-width: 1400px) {
        width: auto;
    }

    &:hover {
        filter: invert(100%) sepia(38%) saturate(4371%) hue-rotate(348deg) brightness(107%) contrast(101%);
    }
}

.footer-links {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 48px;

    @media screen and (min-width: 834px) {
        align-items: start;
        padding-top: 0;
    }
}

.footer-links a {
    display: flex;
    flex-direction: column;
    justify-content: end;
    line-height: 2.5em;
    color: #FFFFFF;
    transition: color 300ms ease-in-out;

    &:hover {
        color: #FBFF12;
    }

    @media screen and (min-width: 834px) {
        line-height: 2.4em;
    }

    @media screen and (min-width: 1400px) {
        line-height: 2em;
    }
}

/***** PAGINA NOTICIA *****/
.breadcrumbs {
    list-style: none;
    color: white;
    padding: 0 10px;
    margin: 0 0 14px;
    font-weight: bold;
    font-size: 0.9rem;

    @media screen and (min-width: 460px) {
        padding: 0 12vw;
        font-size: 1.1rem;
    }

    @media screen and (min-width: 650px) {
        padding: 0 8vw;
    }

    @media screen and (min-width: 1000px) {
        font-size: 24px;
    }

    @media screen and (min-width: 1200px) {
        padding: 0;
    }

    @media screen and (min-width: 1400px) {
        padding: 0 16px;
    }
}

.breadcrumb-item {
    display: inline;
}

.breadcrumb-item a {
    color: white;
    text-decoration: none;
}

.breadcrumb-item a:hover {
    color: #FBFF12;
}

.noticia-titulo {
    padding: 32px 0 38px;
    font-family: Lekton, serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: underline;
    color: white;

    @media screen and (min-width: 650px) {
        font-size: 2rem;
        margin: 20px 0;
    }

    @media screen and (min-width: 1000px) {
        padding: 48px;
        font-size: 3.4rem;
    }

}

.noticia .container {
    padding: 16px;
}

.noticia-container {
    width: 100%;
    padding: 2vw 2vw 0;

    @media screen and (min-width: 1000px) {
        width: 72%;
        /* padding: 43px 43px 0; */
    }
}

.noticia-text {
    font-size: 1.125rem;
    /* padding: 30px 18px; */
    padding: 4vw 5vw;

    @media screen and (min-width: 650px) {
        font-size: 1.25rem;
    }

    @media screen and (min-width: 1400px) {
        font-size: 1.5rem;
        /* padding: 72px 96px; */
    }
}

.noticia-text p {
    margin: 28px 0;

    @media screen and (min-width: 1000px) {
        margin: 24px 0;
    }
}

/***** FESTIVAL *****/
section.festival-pagina {
    color: #FFFFFF;
    padding: 8px 0 35px;

    @media screen and (min-width: 650px) {
        padding: 32px 4vw 96px;
    }

    @media screen and (min-width: 1200px) {
        padding: 96px 6vw 160px;
    }
}

section.festival-pagina h2 {
    font-family: Lekton, sans-serif;
    font-size: 1.625rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1.75rem 0;

    @media screen and (min-width: 650px) {
        font-size: 2rem;
    }

    @media screen and (min-width: 1000px) {
        font-size: 2.25rem;
    }
}

.festival-pagina .container-festival {
    padding: 0 15px;

    @media screen and (min-width: 650px) {
        padding: 0 26px;
    }
}

.festival-card {
    display: flex;
    flex-direction: column;
    border: 10px #FBFF12 solid;
    background-color: #0C0F0A;
    margin: 45px 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;

    @media screen and (min-width: 1000px) {
        margin: 92px 0;
    }
}

.festival-card:not(.img-right) {
    @media screen and (min-width: 1600px) {
        flex-direction: row;
    }
}

.festival-card.img-right {
    @media screen and (min-width: 1600px) {
        flex-direction: row-reverse;
    }
}

.festival-card-title {
    display: flex;
    justify-content: center;
}

.festival-card.carousel-card,
.festival-card.parceiros-card {
    flex-direction: column;
    justify-content: center;
}

.carousel-card {
    padding: 4vw 0;
    overflow-x: scroll;
}

.carousel-control {
    display: none;

    @media screen and (min-width: 650px) {
        display: block;
    }
}

.festival-card-text {
    width: auto;
    /* max-width: 100%; */
    padding: 8vw;

    @media screen and (min-width: 650px) {
        padding: 8vw 12vw;
    }

    @media screen and (min-width: 1600px) {
        max-width: 39%;
    }
}

.festival-card-text ol {
    margin-top: 0;

    @media screen and (min-width: 1000px) {
        margin-top: 24px;
    }
}

.festival-card-text li {
    padding: 0.5rem 0;
}

.festival-card-img {
    position: relative;
    object-fit: cover;
    overflow: hidden;
}

.festival-card-img:not(.carousel-img-inner) {
    flex-grow: 1;
    padding-bottom: 88%;

    @media screen and (min-width: 650px) {
        padding-bottom: 63%;
    }

    @media screen and (min-width: 1600px) {
        padding-bottom: 0;
    }
}

.festival-card-img::after {
    content: "";
    display: block;
    /* padding-bottom: 89%; */
}

.festival-card-img > img:not(.map-marker, .zoom) {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.festival-card-img .map-marker-outer {
    position: absolute;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    font-family: Inter, sans-serif;
    font-size: 0.5rem;
    line-height: 20px;

    @media screen and (min-width: 650px) {
        font-size: 0.75rem;
        line-height: 22px;
    }

    @media screen and (min-width: 1000px) {
        font-size: 1rem;
        line-height: 31px;
    }
}

.festival-card-img .zoom {
    width: 16px;
    position: absolute;
    top: 3%;
    right: 4%;

    @media screen and (min-width: 650px) {
        width: 35px;
    }

    @media screen and (min-width: 1000px) {
        width: auto;
    }
}

.festival-card-img .zoom img {
    width: 16px;

    @media screen and (min-width: 650px) {
        width: 35px;
    }

    @media screen and (min-width: 1000px) {
        width: auto;
    }
}

.festival-card-img .zoom-white:not(:hover) {
    filter: invert(96%) sepia(93%) saturate(1%) hue-rotate(108deg) brightness(106%) contrast(101%);
}

/* .festival-card-img .map-marker:after {
    padding-top: 6px;
} */

.festival-card-img .map-marker-outer::after {
    position: absolute;
}

.festival-card-img .map-marker-outer:nth-child(3) {
    top: 21%;
    left: 9%;

    &:after {
        content: "1";
    }
}

.festival-card-img .map-marker-outer:nth-child(4) {
    bottom: 6%;
    left: 15%;

    &:after {
        content: "2";
    }
}

.festival-card-img .map-marker-outer:nth-child(5) {
    top: 19%;
    right: 21%;

    &:after {
        content: "3";
    }
}

.festival-card-img .map-marker-outer:nth-child(6) {
    bottom: 16%;
    right: 5%;

    &:after {
        content: "4";
    }
}

.festival-card-img .map-marker-outer:nth-child(7) {
    bottom: 23%;
    left: 40%;

    &:after {
        content: "5";
    }
}

.festival-card-img .map-marker-outer:nth-child(8) {
    bottom: 34%;
    left: 19%;

    &:after {
        content: "6";
    }
}

.festival-card-img .map-marker-outer:nth-child(9) {
    top: 36%;
    left: 34%;

    &:after {
        content: "7";
    }
}

.festival-card.carousel-card {
    padding: 8vw 0;

    @media screen and (min-width: 1000px) {
        padding: 2vw 0 0;
    }
}

.festival-card-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw 0 0;
    width: 220%;
    margin-left: -75%;

    @media screen and (min-width: 650px) {
        width: 100%;
        margin-left: 0;
    }
}

.festival-pagina button {
    background-color: transparent;
    padding: 0 1%;
    margin: 0;
    border: none;
    cursor: pointer;
    transform: filter 300ms ease-in-out;

    &:hover {
        img {
            filter: invert(28%) sepia(52%) saturate(6301%) hue-rotate(325deg) brightness(100%) contrast(101%);
        }
    }
}

.festival-card-carousel button img {
    filter: invert(96%) sepia(93%) saturate(5563%) hue-rotate(340deg) brightness(111%) contrast(105%);
    transform: filter 300ms ease-in-out;
}

.carousel-imgs {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 15px;

    @media screen and (min-width: 1000px) {
        gap: 3%;
    }
}

img.map-marker {
    transition: all 300ms ease-in-out;
    width: 24px;
    height: 24px;

    @media screen and (min-width: 650px) {
        width: 30px;
        height: 30px;
    }

    @media screen and (min-width: 1000px) {
        width: auto;
        height: auto;
    }
}

.carousel-img-outer {
    &:hover {
        img {
            transform: scale(1.3);
        }

        .carousel-img-title {
            color: #FBFF12;
        }
    }
}

.carousel-img-inner::after {
    content: "";
    display: block;
    padding-bottom: 120%;
}

@media screen and (min-width: 650px) {
    .carousel-img-inner::after {
        padding-bottom: 100%;
    }
}

.carousel-img-outer:nth-child(1),
.carousel-img-outer:nth-child(3) {
    flex-grow: 1;
}

.carousel-img-outer:nth-child(2) {
    flex-grow: 1;

    @media screen and (min-width: 650px) {
        flex-grow: 1.5;
    }
}

.carousel-img-title {
    font-size: 1.25rem;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-variant: small-caps;
    transition: color 300ms ease-in-out;

    @media screen and (min-width: 1400px) {
        font-size: 1.5rem;
    }
}

.parceiros-card {
    padding: 6vw 7vw 14vw;
    flex-grow: 1;

    @media screen and (min-width: 650px) {
        padding: 5vw 7vw 10vw;
    }

    @media screen and (min-width: 1000px) {
        padding: 6vw 7vw;
    }
}

.festival-parceiros {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 3vw 0;
    padding-top: 2vw;
}

.festival-parceiros img {
    width: 100%;
}

/*** Contactos ***/
section.contactos {
    padding: 55px 0;

    @media screen and (min-width: 650px) {
        padding: 12vw 0 15vw;
    }

    @media screen and (min-width: 1000px) {
        padding: 8vw 0 10vw;
    }
}

.container-contactos {
    display: flex;
    flex-direction: column;
    background-color: white;

    @media screen and (min-width: 1200px) {
        flex-direction: row-reverse;
    }
}

.texto-contactos, .imagem-contactos {
    box-sizing: border-box;
    overflow: hidden;
}

.imagem-contactos {
    position: relative;
    flex-grow: 1;
    padding-bottom: 100%;

    @media screen and (min-width: 800px) {
        padding-bottom: 69%;
    }

    @media screen and (min-width: 1600px) {
        padding-bottom: 0;
    }
}

.imagem-contactos::after {
    content: "";
    display: block;
    /* padding-bottom: 89%; */
}

.imagem-contactos > img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.imagem-contactos button.zoom {
    background-color: transparent;
    padding: 0 1%;
    margin: 0;
    border: none;
    cursor: pointer;
    z-index: 999;
    width: 16px;
    position: absolute;
    top: 4%;
    left: 3%;

    @media screen and (min-width: 650px) {
        width: 35px;
    }

    @media screen and (min-width: 1000px) {
        width: auto;
    }

    &:hover {
        img {
            filter: invert(28%) sepia(52%) saturate(6301%) hue-rotate(325deg) brightness(100%) contrast(101%);
        }
    }
}

.imagem-contactos .zoom img {
    transform: filter 300ms ease-in-out;
    width: 28px;

    @media screen and (min-width: 650px) {
        width: 35px;
    }

    @media screen and (min-width: 1000px) {
        width: auto;
    }
}

section.contactos img.icon {
    width: 38px;
    transition: all 300ms ease-in-out;

    @media screen and (min-width: 834px) {
        width: auto;
    }

    @media screen and (min-width: 1400px) {
        width: auto;
    }

    &:hover {
        filter: invert(28%) sepia(52%) saturate(6301%) hue-rotate(325deg) brightness(100%) contrast(101%);
    }
}

.texto-contactos {
    padding: 9vw 7vw;
    font-size: 1.25rem;

    @media screen and (min-width: 600px) {
        padding: 12vw 14vw;
        font-size: 1.5rem;
    }
    
    @media screen and (min-width: 1200px) {
        padding: 9vw 7vw;
        max-width: 50%;
    }
}

.texto-contactos .contactos-social {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 28px;
}

.texto-contactos .contactos-social-icons {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    gap: 24px;

    @media screen and (min-width: 600px) {
        gap: 28px;
    }
}

/* .icon { 
    margin: 10px;
    padding-top:5px;
} */

/**** Bilhetes ***/
section.bilhetes .container {
    display: grid;
    grid-template-columns: 1fr;
    flex-wrap: wrap;
    justify-content: center;
    gap: 55px;

    @media screen and (min-width: 800px) {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }
}

.card-bilhete {
    background-color: white;
    display: block;
    padding: 10vw 0 22vw;
    text-align: center;
    display: flex;
    justify-content: center;

    @media screen and (min-width: 650px) {
        padding: 5vw 0 10vw;
    }

    @media screen and (min-width: 1000px) {
        padding: 3vw 0 7vw;
    }
}

.card-bilhete-inner {
    width: 60%;

    @media screen and (min-width: 650px) {
        width: 65%;
    }

    @media screen and (min-width: 1000px) {
        width: 60%;
    }
}

.card-bilhete-titulo {
    font-family: Lekton, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color:#0C0F0A;
    text-transform: uppercase;
    padding: 0;

    @media screen and (min-width: 650px) {
        font-size: 1.75rem;
    }

    @media screen and (min-width: 1000px) {
        font-size: 3.125rem;
    }
}

.card-bilhete-texto {
    font-size: 1.5rem;
    text-wrap: wrap;

    @media screen and (min-width: 1000px) {
        font-size: 2rem;
    }
}

.card-bilhete-preco {
    /* padding:0;
    margin:0; */
    font-size: 4rem;
    padding: 45px 0 10px;

    @media screen and (min-width: 1000px) {
        font-size: 6.25rem;
        padding: 50px 0 30px;
    }
}

.card-bilhete hr{
    margin: 0;
    
}

.card-bilhete .btn {
    margin: 32px auto 0 !important;

    @media screen and (min-width: 1000px) {
        margin: 64px auto 0;
    }
}


/* .card-bilhete-titulo {
    text-align: center;
    padding-top: 50px;
    font-size: 2.5rem;
    margin: 0;
} */

/*** Formulário Compra ****/
.form {
    background-color: white;
    width: 100%;
    padding: 32px;
}

.nome, .morada {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
}

.email, .telefone {
    box-sizing: border-box;
    padding: 8px;
    width: 50%;
}


.metodo-compra {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
}

.checkbox-label {
    display: inline-block;
}

.checkbox {
    width: 1.5rem;
    height: 1.5rem;
    margin: 10px;
}

.label {
    display: inline-block;
}

.select {
    display: inline-block;
    width: 305px;
    height: 50px;
    border-radius: 10px;
}

.subtotal-label {
    display: flex;
    margin: 5px;
}

.subtotal {
margin-left: 10px;
border-style: solid;
padding: 5px 100px;
border-radius: 20px;
border-color: gray;
}

.pagamento-container {
    flex-grow: 1;
    border: solid;
    border-radius: 20px;
    padding: 20px;
    margin-left: 10px;
    border-color: black;
    margin-top: 25px;
}

.pagamento-box {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.email-div {
    display: flex;
    justify-content: center;
    align-items: center;
   margin: 24px 0;
    gap: 10px;
}

.tipo-bilhete-display {
    display: flex;
    justify-content: space-between;

}